@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}

/* navbar */
#navbar-product {
    background-color: #042688;
    width: 100%;
    height: 60px;   
    box-shadow: #333;        
}
#head-container li a {
    width: 100px;
    height: 25px;      
    border: none;   
    font-size: 13px;       
    color: #042688;  
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
.input-group span a {
    text-decoration: none;
}
.navbar-brand {
    padding-left: 5%;   
}
.input-group {
    padding-right: 50px;
}
#head-container ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#head-container ul li{
    display: flex;
    margin: 5px;
}
#head-container ul li a{
    text-decoration: none;
    color: #fff;
}
#navbarcontainer{
    background-color: #042688;
}

.logo {
    width: 150px;
}
.nav-item {
    padding: 5px;
    text-align: center;
    font-weight: bold;    
}
.nav-item a:hover {
    color: #f3bb06;       
}
.nav-item a {
    position: relative;
    color: #fff;
}
.nav-item a::after {
    content: "";
    height: 5px;
    width: 0;   
    background: #f3bb06;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.nav-item a:hover::after {
    width: 50%;
    transform: translateX(100%);
}
#basic-addon1 a {
    color: #042688;
}

.input-group-text:hover {
    color: #fff;
    background-color: #f3bb06;
    transition: 0.5s;
}
#basic-addon1 a:hover {
    color: #fff;    
    transition: 0.5s;
}
.product-detail {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: #042688;
    font-weight: bold;
    border: 2px solid #333;
    position: relative;
    top: 40px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;    
}
.product-container {
    padding-top: 5px;
    margin-left: 5%;
    margin-right: 5%;    
}
.card-title { 
    color: #042688;
}
.card:hover {
    cursor: pointer;
}
.card-text {
    padding: 15px;
    font-weight: bold;
}
#product-bg-1 {
    background-color: rgb(248, 244, 238);   
    margin-bottom: 10px;
}
#product-bg-2 {
    background-color: #d3d7e5;   
    margin-bottom: 10px;
}
.product-new {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 2%;    
}
#product-text-new{
    width: 20%;
    padding: 10px 20px;
    background-color: #042688;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
}

/*  testimonial */
#testimonial {
    width: 100%;
    padding: 70px;
    font-family: 'Space Grotesk', sans-serif;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814; 
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #042688;
}
.user-info small {
    color: #042688;
}
.testimonial-col:hover{
    transform: translateY(7px);
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: #4d728c;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#4d728c, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1 {
    font-size: 50px;
}
.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
/* footer */
footer {
    background: #042688;
    margin-top: 15px;
    padding-top: 15px;
}

.footer-widgets {
    margin-left: 100px;
    color: #fff;
}
#block_widget-22 a {
    text-decoration: none;
    color: #fff
}
.widgetlight {
    padding: 0;
    margin: 0;
}
#block_widget-30 a {
    text-decoration: none;
    color: #fff;
}
/* product-detail  */
.pro-con-deital:hover {
    width: 200%;
}

