h1 {
    margin: auto;
    background-color: rgb(160, 33, 33);
    color: white;
    width: 50%;
    text-align: center;

}

p {
background-color: darkblue;
color: white;
font-weight: bold;
width: 40%;
/* display: inline; */
float: left;
}

img {
    height: 300px;
    display: block;
    margin: auto;   /* dùng cho thẻ block */
}

